{{ define "main" }}

<article>
    <h2>{{ print "> " .Title }}</h2>
    {{ if .Lastmod }}
        <span class="date">Updated: {{ .Lastmod.Format "2006-01-02" }}</span>
        <span> | </span>
    {{ end }}
    {{ if .Date }}
        <span class="date">Created: {{ .Date.Format "2006-01-02" }}</span>
    {{ end }} 
</article>

<br>
{{ .Content }}
<br>

{{ if .Pages }}
<div class="list">
    {{ range .Pages }}
    <div class="list-item">
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ if .Lastmod }}
        <span class="date">Updated: {{ .Lastmod.Format "2006-01-02" }}</span>
        <span> | </span>
        {{ end }}
        {{ if .Date }}
        <span class="date">Created: {{ .Date.Format "2006-01-02" }}</span>
        {{ end }} 
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}